{% extends "journal/layout.html" %}

{% block content %}

<div class="row">
    {% if user.is_authenticated %}
    <p class="lead">Hello {{ user.get_username }}! Feelin like makin some money today, huh?</p>
</div>
<blockquote class="blockquote text-center">
  <p class "mb-0">{{ quote }}</p>
  <footer class="blockquote-footer">{{ author }}</footer>
</blockquote>
    {% else %}
<div class="row">
    <p class="lead">Welcome to Trading Journal! Sign in or sign up and let's do some trades today!</p>
</div>
    {% endif %}

{% endblock %}
