{% extends "journal/layout.html" %}
{% block content %}
{% load widget_tweaks %}

<h2>Edit Entry</h2>
<div>
<form method="post">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        {% for field in form.visible_fields %}
          {% if forloop.counter0|divisibleby:"6" %}
            <div class="col">
          {% endif %}
          <div class="form-group">  
          {{ field.label_tag }}
          {% render_field field class="form-control" %}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
          {% if forloop.counter == 6 %}
            </div>
          {% endif %}
          {% if forloop.last %}
            </div>
          {% endif %}
        </div>
        {% endfor %}
</form>
</div>
<input type="submit" value="Update" class="btn btn-primary">
<a href="{% url "journal-delete" journal.id %}" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</a>

{% endblock %}


