{% extends "journal/layout.html" %}
{% block content %}

{% load render_table from django_tables2 %}

<h2>Journals</h2>
<div>
    {% if filter %}
        {% load crispy_forms_tags %}
        {% crispy filter.form filter.helper %}
    {% endif %}
    {% render_table table %}
</div>
{% endblock %}
