{% extends "journal/layout.html" %}

{% block content %}
<h2> journal view</h2>
<h3> Trader: {{ journal.author }}</h3>
<p>PK: {{ journal.pk }}</p>
<p>timestamp: {{ journal.ts }}</p>
<p>content: {{ journal.content }}</p>
<p>product: {{ journal.product }}</p>
<p>delivery date start: {{ journal.delivery_date_start }}</p>
<p>delivery date end: {{ journal.delivery_date_end }}</p>
<p>decision: {{ journal.decision }}</p>
<p>confidence: {{ journal.confidence }}</p>
<p>greed_index: {{ journal.greed_index }}</p>
<p>retrospective: {{ journal.retrospective }}</p>
{% endblock %}
