﻿<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - TRMEW Obrót - Trading Journal</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'journal/bootstrap.min.css' %}" />
</head>

<main role="main" class="flex-shrink-0">

<body class="bg-light d-flex flex-column h-100">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">TRMEW Obrót</h5>
    <nav class="my-2 my-md-0 mr-md3">
        <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>

    {% if request.user.is_authenticated %}
        <a class="p-2 text-dark" href="{% url 'journal-list' %}">My entries</a>
        <a class="p-2 text-dark" href="{% url 'journal-add' %}">Add entry</a>
    </nav>
    <a class="btn btn-danger btn-sm" href="{% url 'account_logout' %}">Log out</a>
    {% else %}
        <a class="p-2 text-dark" href="{% url 'account_signup' %}">Sign up</a>
        <a class="p-2 text-dark" href="{% url 'account_login' %}">Sign in</a>
    </nav>
    {% endif %}
</div>

<div class="container body-content">
    {% block content %}{% endblock %}
</div>

</main>

<footer class="footer mt-auto border-top">
<div class="container">
<p class="text-monospace">&copy; {{ year }} - Sapkowski & Skrabacz IT Solutions</p>
</div>
</footer>

</body>
</html>
